<section id="slider-container">
    <div class="slider">
        <div class="owl-carousel owl-theme">
            <div class="item">
                <div class="image">
                    <img src="https://picsum.photos/1250/400" alt="">
                </div>
                <h1>1 Lorem ipsum dolor sit amet adipisicing elit.</h1>
            </div>
            <div class="item">
                <div class="image">
                    <img src="https://picsum.photos/1250/400" alt="">
                </div>
                <h1>2 Lorem ipsum dolor sit amet adipisicing elit.</h1>
            </div>
            <div class="item">
                <div class="image">
                    <img src="https://picsum.photos/1250/400" alt="">
                </div>
                <h1>3 Lorem ipsum dolor sit amet adipisicing elit.</h1>
            </div>
        </div>
    </div>
    <div class="register">
        <div class="container px-5">
            <form class="row g-3">
                <div class="col-3">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <div class="col-3">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <div class="col-3">
                    <label for="inputPassword2" class="visually-hidden">Password</label>
                    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
                </div>
                <div class="col-3">
                    <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
                </div>
            </form>
        </div>
    </div>
</section>
<section id="service">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Services</h1>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-4">
                <div class="item">
                    <i class="fas fa-basketball-ball"></i>
                    <h3>24/7 Support</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, aliquid!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <i class="fas fa-cogs"></i>
                    <h3>24/7 Support</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, aliquid!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <i class="fas fa-rocket"></i>
                    <h3>24/7 Support</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, aliquid!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <i class="fas fa-basketball-ball"></i>
                    <h3>24/7 Support</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, aliquid!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <i class="fas fa-basketball-ball"></i>
                    <h3>24/7 Support</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, aliquid!</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="item">
                    <i class="fas fa-basketball-ball"></i>
                    <h3>24/7 Support</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, aliquid!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Contact</h1>
            </div>
            <div class="col-lg-6">
                <div class="contact-info">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, omnis repellendus enim beatae quas iste. Ut et enim, facere excepturi maiores id vel deserunt temporibus explicabo. Placeat labore quod a. Cumque unde praesentium
                        enim, asperiores dolorem laborum nemo nam! Ipsam quidem debitis sequi libero rem omnis exercitationem, enim sed quod, quae dignissimos, quo itaque saepe eum ad repellendus quas perferendis!
                    </p>
                    <p>Company: <a href="#">Name Here</a></p>
                    <p>Address: <a href="#">4435 Berkshire Circle Knoxville</a></p>
                    <p>Phone: <a href="#">+ 879-890-9767</a></p>
                    <p>Website: <a href="#">www.domain.com</a></p>
                    <p>Program: <a href="#">Mon to Sat: 09:30 AM - 10.30 PM</a></p>
                </div>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Subject</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Message</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>